* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	width: 1200px;
	margin: 0 auto;
	height: 100%;
}
.main {
	background: $main_color;
}
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	position: absolute;
	background: $main_color;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(74, 73, 73);
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

@media screen and (max-width: 767px) {
	.container {
		width: auto;
		height: auto;
		.new_books {
			height: auto;
			&_cards {
				flex-direction: column;
				margin-left: 80px;
				&_card {
					height: auto;
				}
			}
		}
		.chart {
			flex-direction: column;
			gap: 30px;
			margin-left: 80px;
			&_column {
				width: calc(90%);
			}
		}
	}
}
