
@keyframes ldio-jgbtehivht {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-jgbtehivht div {
  left: 77.4px;
  top: 4.5px;
  position: absolute;
  animation: ldio-jgbtehivht linear 0.49751243781094534s infinite;
  background: #ffffff;
  width: 25.2px;
  height: 16.2px;
  border-radius: 6.3px / 6.3px;
  transform-origin: 12.6px 85.5px;
}.ldio-jgbtehivht div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.4783773440489859s;
  background: #ffffff;
}.ldio-jgbtehivht div:nth-child(2) {
  transform: rotate(13.846153846153847deg);
  animation-delay: -0.4592422502870265s;
  background: #ffffff;
}.ldio-jgbtehivht div:nth-child(3) {
  transform: rotate(27.692307692307693deg);
  animation-delay: -0.44010715652506704s;
  background: #ffffff;
}.ldio-jgbtehivht div:nth-child(4) {
  transform: rotate(41.53846153846154deg);
  animation-delay: -0.4209720627631076s;
  background: #ffffff;
}.ldio-jgbtehivht div:nth-child(5) {
  transform: rotate(55.38461538461539deg);
  animation-delay: -0.4018369690011482s;
  background: #ffffff;
}.ldio-jgbtehivht div:nth-child(6) {
  transform: rotate(69.23076923076923deg);
  animation-delay: -0.38270187523918875s;
  background: #ffffff;
}.ldio-jgbtehivht div:nth-child(7) {
  transform: rotate(83.07692307692308deg);
  animation-delay: -0.3635667814772293s;
  background: #ffffff;
}.ldio-jgbtehivht div:nth-child(8) {
  transform: rotate(96.92307692307692deg);
  animation-delay: -0.3444316877152699s;
  background: #ffffff;
}.ldio-jgbtehivht div:nth-child(9) {
  transform: rotate(110.76923076923077deg);
  animation-delay: -0.32529659395331045s;
  background: #ffffff;
}.ldio-jgbtehivht div:nth-child(10) {
  transform: rotate(124.61538461538461deg);
  animation-delay: -0.30616150019135097s;
  background: #ffffff;
}.ldio-jgbtehivht div:nth-child(11) {
  transform: rotate(138.46153846153845deg);
  animation-delay: -0.28702640642939153s;
  background: #ffffff;
}.ldio-jgbtehivht div:nth-child(12) {
  transform: rotate(152.30769230769232deg);
  animation-delay: -0.2678913126674321s;
  background: #ffffff;
}.ldio-jgbtehivht div:nth-child(13) {
  transform: rotate(166.15384615384616deg);
  animation-delay: -0.24875621890547267s;
  background: #ffffff;
}.ldio-jgbtehivht div:nth-child(14) {
  transform: rotate(180deg);
  animation-delay: -0.22962112514351324s;
  background: #ffffff;
}.ldio-jgbtehivht div:nth-child(15) {
  transform: rotate(193.84615384615384deg);
  animation-delay: -0.2104860313815538s;
  background: #ffffff;
}.ldio-jgbtehivht div:nth-child(16) {
  transform: rotate(207.69230769230768deg);
  animation-delay: -0.19135093761959437s;
  background: #ffffff;
}.ldio-jgbtehivht div:nth-child(17) {
  transform: rotate(221.53846153846155deg);
  animation-delay: -0.17221584385763494s;
  background: #ffffff;
}.ldio-jgbtehivht div:nth-child(18) {
  transform: rotate(235.3846153846154deg);
  animation-delay: -0.15308075009567548s;
  background: #ffffff;
}.ldio-jgbtehivht div:nth-child(19) {
  transform: rotate(249.23076923076923deg);
  animation-delay: -0.13394565633371605s;
  background: #ffffff;
}.ldio-jgbtehivht div:nth-child(20) {
  transform: rotate(263.0769230769231deg);
  animation-delay: -0.11481056257175662s;
  background: #ffffff;
}.ldio-jgbtehivht div:nth-child(21) {
  transform: rotate(276.9230769230769deg);
  animation-delay: -0.09567546880979719s;
  background: #ffffff;
}.ldio-jgbtehivht div:nth-child(22) {
  transform: rotate(290.7692307692308deg);
  animation-delay: -0.07654037504783774s;
  background: #ffffff;
}.ldio-jgbtehivht div:nth-child(23) {
  transform: rotate(304.61538461538464deg);
  animation-delay: -0.05740528128587831s;
  background: #ffffff;
}.ldio-jgbtehivht div:nth-child(24) {
  transform: rotate(318.46153846153845deg);
  animation-delay: -0.03827018752391887s;
  background: #ffffff;
}.ldio-jgbtehivht div:nth-child(25) {
  transform: rotate(332.3076923076923deg);
  animation-delay: -0.019135093761959435s;
  background: #ffffff;
}.ldio-jgbtehivht div:nth-child(26) {
  transform: rotate(346.15384615384613deg);
  animation-delay: 0s;
  background: #ffffff;
}
.loadingio-spinner-spinner-3aga92c6ecp {
  width: 180px;
  height: 180px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-jgbtehivht {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-jgbtehivht div { box-sizing: content-box; }
/* generated by https://loading.io/ */
