body{
	background-color: $main_color;
	.form_layot{
		height: 100vh;
		display:flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 20px;
		.list{
		&_form{
			margin-top:-220px;
			width: 40%;
			min-height: 400px;
			display: flex;
			justify-content: space-evenly;
			gap:2px;
			align-items: center;
			flex-direction: column;
			text-align: center;
			border:3px solid white;
			border-radius:14px;
			img{
				width:40%;
				max-height: 40%;	
				object-fit: contain;
			}
			input{
				height: 40px;
				border-radius:14px;
				padding-left: 10px;
				width: 90%;
				font-size: 18px;

			}
			textarea {
				height: 120px;
				border-radius:14px;
				width: 90%;
				padding: 15px;
				font-size: 18px;
			}
			button {
				width: 120px;
				height: 40px;
				border-radius:20px;
				cursor: pointer;
			}
		}
	}
	.Error{
		color:red;
	}
	}
	
}
