.wrapper {
	margin-left: 80px;
	.content {
		display: grid;
		grid-template-columns: 400px 1fr;
		gap: 30px;
		margin-top: 10px;
		font-size: 20px;
		ul{
			list-style: none;
		}
		.container {
			max-width: 400px;
			margin-top: 10px;
			height: auto;
			.form_layot {
				justify-content: flex-start;
				height: auto;

				.list_form {
					width: 100%;
					margin-top: 0;
					height: auto;
				}
			}
		}
	}
}
