.book {
	display: grid;
	grid-template-columns: minmax(auto, 300px) 1fr;
	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
		max-height: 100%;
	}
	gap: 40px;
	&_title {
		text-align: center;
	}
	&_descr {
		padding: 20px;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 200px;
	}
	&_items {
		background-color: rgb(73, 71, 71);
		border-radius: 5px;
		padding: 20px;
		max-width: 1000px;
		max-height: 400px;
		overflow: auto;
		-ms-overflow-style: none;
		scrollbar-width: none;

		&_items ::-webkit-scrollbar-thumb {
			border-radius: none;
		}

		li {
			list-style: none;
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
		a {
			color: white;
			text-decoration: none;
		}
	}
}

h3 {
	padding-top: 10px;
}

.modal {
	position: absolute;
	width: auto;
	height: auto;
	padding: 30px;
	font-size: 24px;
	border-radius: 30px;
	top: 30%;
	background-color: rgb(35, 35, 35);
	left: 50%;
	transform: translateX(-50%);
}
.blacker {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.484);
}
.modal_content {
	color: white;

	div {
		display: flex;
		justify-content: center;
		gap: 40px;
		margin-top: 20px;
		button {
			padding: 10px 30px;
			border-radius: 10px;
		}
	}
}

// .last {
// 	left: 65%;
// 	top: 90%;
// }
.buttons {
	display: grid;
	row-gap: 20px;
	grid-template-columns: auto;
	justify-items: end;
	.reset,
	.last {
		padding: 15px;
		width: 150px;
		border-radius: 10px;
		background-color: rgb(0, 157, 255);
		color: white;
		text-decoration: none;
	}
}

@media (max-width: 767px) {
	.book {
		padding-left: 70px;
		grid-template-columns: 1fr;
	}
	.modal_content {
		div {
			display: flex;
			justify-content: center;
			gap: 40px;
			margin-top: 20px;
			button {
				padding: 10px 30px;
				border-radius: 10px;
			}
		}
	}
}
